<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/stylesHeader.css">
    <link rel="stylesheet" href="/css/styleRegister.css">
    <link rel="stylesheet" href="/css/stylesHeader.css">
    <link rel="stylesheet" href="/css/footer.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet"> 
    <link rel="SHORTCUT ICON" href="/img/icono.png">
</head>



<body>
    
    <div class="main2">
        <div class="logo" id="logo-registro">
        <img src="/images/5.png" alt="logo comercial">
        </div>
       
        <h4>Estás a un paso de ingresar a la comunidad  </h4>
        <form action="/usuario/detalle" method="POST" class="form" enctype="multipart/form-data">

            <div class="nombre">
                <input type="text" id="nombre" name="nombre" placeholder="Nombre">
                <% if (locals.errors && errors.nombre) { %>
                    <div class ="text-danger">
                       <%= errors.nombre.msg %> 

                    </div>
                    <% } %>
            </div>
            <div class="apellido">
                <input type="text" id="apellido" name="apellido" placeholder="Apellido">
                <% if (locals.errors && errors.apellido) { %>
                    <div class ="text-danger">
                       <%= errors.apellido.msg %> 

                    </div>
                    <% } %>
            </div>
            <div class="user">
                <input type="usuario" id="usuario" placeholder="Nombre de Usuario" name="usuario">
                <% if (locals.errors && errors.user) { %>
                    <div class ="text-danger">
                       <%= errors.user.msg %> 

                    </div>
                    <% } %>
            </div>
            <div class="mail-userProfile">
                <input type="email" id="mail" placeholder="Correo Electrónico" name="mail">
                <% if (locals.errors && errors.mail) { %>
                    <div class ="text-danger">
                       <%= errors.mail.msg %> 
                   </div>
                    <% } %>
            </div>   
            <div class="nacimiento">
                <label for="nacimiento">Fecha de Nacimiento</label>
                <input type="date" id="nacimiento" name="nacimiento">
                <% if (locals.errors && errors.nacimiento) { %>
                    <div class ="text-danger">
                       <%= errors.nacimiento.msg %> 

                    </div>
                    <% } %>
            </div>
            <select name="pais_residencia" class="domicilio">
                <option value="">Elegí país de residencia</option>
                <% 
                let paises = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela']
                %>
                <% for (const unPais of paises){ %>
                    <option value="<%= unPais %>"> <%= unPais%> </option>
                <% } %>
                <% if (locals.errors && errors.pais_residencia) { %>
                    <div class ="text-danger">
                       <%= errors.pais_residencia.msg %> 

                    </div>
                    <% } %>
            </select>

            <div class="intereses">
                <h4>Intereses</h4>
                <div class="checks">
                    <input type="radio" name="intereses" value="deportes">
                    <label for="deportes">Deportes</label>
                </div>
                <div class="checks">
                    <input type="radio" name="intereses" value="metaverso" >
                    <label for="metaverso">Metaverso</label>
                </div>
                <div class="checks">
                    <input type="radio" name="intereses" value="juegos">
                    <label for="juegos">Juegos</label>
                </div>    
                <div class="checks">
                    <input type="radio" name="intereses" value="investigacion">
                    <label for="investigacion">Investigación</label>
                </div>    
                <div class="checks">
                    <input type="radio" name="intereses" value="Mercados">
                    <label for="Mercados">Mercados</label>
                </div>
            </div>

            <div class="foto">
                <label for="foto">Foto de Perfil</label>
                <input type="file" id="filename" name="filename">
            </div>

            <div class="passR">
                <input type="text" id="password"  placeholder="Contraseña" name="password">
                <% if (locals.errors && errors.password) { %>
                    <div class ="text-danger">
                       <%= errors.password.msg %> 

                    </div>
                    <% } %>
            </div>

            <div class="passR">
                <input type="text" id="confirmar_contrasena"  placeholder="Contraseña" name="confirmar_contrasena">
                <% if (locals.errors && errors.confirmar_contrasena) { %>
                    <div class ="text-danger">
                       <%= errors.confirmar_contrasena.msg %> 

                    </div>
                    <% } %>
            </div>

            <div class="tarjeta">
                
            </div>

            <div class="botones">
                <button type="submit">Enviar</a></button>
                <button type="reset" style="cursor: pointer;">Borrar</button>
            </div>

        </form>

    </div>


<%- include("../partials/footer")  %> 


<script src=">./index.js"></script>
</body>
</html>