<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles-productos.css">
    <link rel="stylesheet" href="/css/stylesHeader.css">
</head>
<body>
    <%- include("../partials/header-productosPrincipal")  %> 

    <main>
        <section class="section1">
            <div class="section1-div1">
                <img class="img-producto" src="/images/<%= producto.imagen_producto %>" alt="imagen producto">
            </div>
            <div class="section1-div2">
                

                <div class="detalle">
                    <h1 class="titulo-producto"> <%= producto.nombre_producto %></h1>
                    <p>Categoría:  <%= producto.id_categoria_producto %></p>
                </div>

                <div class="precio">
                    <p class="top-venta"> Mayor venta : <%= producto.unidad_token_precio_actual%> USD</p>
                    <p> Descuento:  <%= producto.descuento_producto %> %</p>
                </div>

                <div class="div-button-box">
                    <a class="button-div" href="/carrito"><button class="button-div"> AL CARRITO</button></a>
                    <button class="button-div" type="submit">COMPRAR AHORA</button>
                    <a href="/productos/edit/<%= producto.id %>"><button class="button-div">EDITAR</button></a>
                    
                </div>
                
            </div>
        </section>

        <section class="descripcion">
            <p>
                <%= producto.descripcion %>
        </section>


    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>